 
 .middlebox > *{
    margin: 0;
    padding: 0;
 }
.middlebox{  
    font-size: larger;
    color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 200px;
   
:nth-child(3) {
margin-top: 10px;
margin-bottom: 20px;
}
}

.useremail{
    margin-top: 10px;
    display: flex;
   height: 40px;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 5px;
 }
   input{
      height: 100%;
      width: 60%;
      background: transparent;
      outline: none;
      border: 1px #b3b3b388 solid;
      border-radius: 5px;
      ::placeholder{
        padding-left: 5px;
      }
   }
 
 button{
   background-color: var(--color-primary);
   height: 100%;
   color: var(--color-white);
   font-weight: bolder;
   padding: 10px;
   text-align: center;
   border-radius: 5px ;
   outline: none;
   border: none;
 }