:root {
  --color-primary: #e50914;   /* Netflix red */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #b3b3b3;
}

.pageheader {
 
  display: flex;
  align-items: center;
  padding:0px 40px ;
}

 .pageheader img {
  height: 50px;
  filter: saturate(120%) contrast(200%);
}

.headerbtns {
  margin-left: auto;
  display: flex;
  gap: 16px;
  height: 30px;
  select{
    padding: 5px 15px;
    border-color: #fff;
    background-color: transparent;
    text-decoration: none;
    color: none;
    outline: none;
    color: #fff;
    border: 1.5px solid white;
    border-radius: 5px;
    option{
        background-color: var(--color-white);
        color: var(--color-black);
    }
  }
  button{
    outline: none;
    border: none;
    background-color:var(--color-primary);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover{
        background-color: var(--color-primary);
    }
  }
}
